body {
    background-image: url("img/612888-gamer-wallpaper-top-free-gamer-background.jpg");
}

h1,h2{

    text-align: center;
    color: white;
}

.table {
   
    padding: 0;
    margin: auto;
}

.keret {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 25px;
    border: 2px purple solid;
    position: absolute;
    display: block;
  }

#price {
    color: grey;
    font-size: 22px;
  }